= render './shared/side_bar'
.contents
  .contents__top
    .contents__top__logo
      = @group.name
    %button.contents__top__edit
      = link_to edit_group_path(@group), class: "contents__top__edit__logo" do
        Edit
    .contents__top__member
      Member: 
  .contents__messages
    = render @messages
  .contents__bottom
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'button'





